header {
	margin: 0 auto;
	padding: 6rem 0;
	text-align: center;
	background: url('assets/img/bg-image.jpg') top center no-repeat;
	background-attachment: fixed;
	background-size: 100% auto;

	@media only screen and (max-width: 600px) {
		background-size: cover;
		background-attachment: scroll;
}

	img {
		height: 150px;
		@include animation(bounce 5s linear infinite);		
	}
	
}

@include keyframes(bounce) {
			0% {
				@include transform(translateY(0px));
			}

			25% {
				@include transform(translateY(-6px));
			}

			50% {
				@include transform(translateY(0px));
			}

			75% {
				@include transform(translateY(6px));
			}			

			100% {
				@include transform(translateY(0px));
			}

	}
