@mixin overlock {
	font-family: 'Overlock';
}

@mixin averia {
	font-family: 'Averia Libre';
}

@mixin oldenberg {
	font-family: 'Oldenburg';
}

@mixin asap {
	font-family: 'Asap';
}

@mixin display {
	font-family: 'birminghamregular';
}