@import "variables";
@import "mixins";
@import "global";
@import "typography";
@import "header";

.content {
		background: #FBF8F6;
		border-top: 2px solid $green-dk;
		border-bottom: 2px solid $green-dk;
}

h2 {
	margin: 3rem 0;
}

h3 {
	margin: 0 auto 4rem auto;
	text-align: center;
	color: $brown;
	background: lighten($action,40%);
	display: inline-block;
	text-shadow: 0 1px 1px #fff;
	padding: .5rem;
	border-radius: 4px;
}


form {
	padding: 0 2rem;
	margin-bottom: 6rem;

	input,button {
		padding: 1rem;
		font-size: 16px;
		box-shadow: 0;
		border: 1px solid darken(#FBF8F6,12%);
	}

	input {
		border-radius: 5px 0 0 5px;
		border-right: 0;
	}

	input[type=submit] {
		background: $brown;
		color: #fff;
		@include oldenberg;
		border-radius: 0 5px 5px 0;
		border-left: 0;		
	}
}




#faq {
	h4 {
		border-bottom: 1px solid lighten($brown, 40%);
		padding-bottom: 1rem;
		@include asap;
		font-weight: 700;
	}

	p {
		color: $green-lt;
	}

	section {
		margin-bottom: 3rem;
	}
}

footer {
	text-align: center;
	padding: 2rem 0 6rem;
	@include asap;

	a {
		color: $green-dk;
		font-weight: 700;
		text-decoration: none;

		&:hover {
			text-decoration: none;
			color: $green-dk;
		}
	}
}

